# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# List directory contents
alias sl=ls
alias ls='ls -G' # Compact view, show colors
alias la='ls -AF' # Compact view, show hidden
alias ll='ls -al'
alias l='ls -a'

# Shortcuts
alias g="git"
alias v="vim"

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# GIT STUFF

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

