# Ignore some Sublime Package files that are automatically created
Package\ Control.last-run
Package\ Control.ca-list
Package\ Control.ca-bundle
Package\ Control.merged-ca-bundle
Package\ Control.user-ca-bundle
Package\ Control.system-ca-bundle
Package\ Control.cache/
Package\ Control.ca-certs/
# Ignore Projects and workspaces, as they should be specific to a given machine
*.sublime-project
*.sublime-workspace
.config/sublime-text-3/Packages/User/Projects/recent.json
.config/sublime-text-3-mac/Packages/User/Color Highlighter/ColorPicker/ColorPicker_osx_x64
.config/sublime-text-3-mac/Packages/User/oscrypto-ca-bundle.crt
# Ignore old karabiner automatic backups
.config/karabiner/automatic_backups/
