# Ignore some Sublime Package files that are automatically created
Package\ Control.last-run
Package\ Control.ca-list
Package\ Control.ca-bundle
Package\ Control.merged-ca-bundle
Package\ Control.user-ca-bundle
Package\ Control.system-ca-bundle
Package\ Control.cache/
Package\ Control.ca-certs/
# Ignore Projects and workspaces, as they should be specific to a given machine
*.sublime-project
*.sublime-workspace
